<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/LogInSignUp.css">
  <script src="../js/Login.js" defer></script>
</head>

<body class="page-body">
    <!--  Header  -->
    <header class="header">
        <div class="header-left">
            <a href="/">Recipe Index</a>
            <a href="/browse" class="nav-link">Breakfast</a>
            <a href="/browse" class="nav-link">Lunch</a>
            <a href="/browse" class="nav-link">Dinner</a>
        </div>
        <div class="header-center">
            <input type="text" placeholder="Search recipes...">
        </div>
        <div class="header-right">
            <a href="/login" class="nav-link">Log In</a>
            <a href="/signup" class="nav-link">Sign Up</a>
            <button onclick="location.href='/create'">Create!</button>
            <a href="/profile" class="profile-link">Profile</a>
        </div>
    </header>

    <!--  Page Content  -->
    <div class="login-container">
        <h1>Log In</h1>

        <!-- Login flash msgs -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class="flash-msg">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Altered to work with Flask + Jinja -->

        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.email.label }}<br>
            {{ form.email }}<br>

            {{ form.password.label }}<br>
            {{ form.password }}<br>

            {{ form.submit }}
        </form>
        
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
    
</body>
</html>
