<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/LogInSignUp.css">
  <script src="../js/Login.js" defer></script>
</head>

<body class="page-body">
  <!--  Header  -->
  {% include 'Header.html' %}


  <!-- Flash msgs -->
  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p class="flash-msg {{ category }}">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <!--  Page Content  -->
  <div class="login-container">
    <h1>Log In</h1>

    <!-- Altered to work with Flask -->

    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="field-block">
        {{ form.email.label }}:<br>
        {{ form.email }}<br>
      </div>

      <div class="field-block">
        {{ form.password.label }}:<br>
        {{ form.password }}<br>
      </div>

      {{ form.submit }}
    </form>

    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
  </div>

</body>

</html>